/* Reset padding and margin for consistent styling across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header*/

/*navbar1, the navbar at the very top*/
.navbar1 {
    height: 86px;
    width: 1440px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
}

/*box1*/
.nav-logo{
    height: 50px;
    width: 150px;

}

.logo {
    background-image: url("logo-colored.png");
    height: 46px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
/*box2*/
.nav-search {
    height: 40px;
    width: 665px;
   border: 1px solid  rgba(0, 103, 255, 1);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-button {
    height: 40px;
    width: 100px;
    border: 1px solid  rgba(0, 103, 255, 1);
   color: rgba(255, 255, 255, 1);
   background-color:  rgba(0, 103, 255, 1);
   border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
}

.nav-select {
    height: 40px;
    width: 145px;
    border: 1px solid  rgba(0, 103, 255, 1);
  
}

.nav-search-input {
   width: 421px;
  border: 1px solid  rgba(0, 103, 255, 1);
   height:  40px;
   border-top-left-radius: 7px; 
   border-bottom-left-radius: 7px;
}

/*box3*/
.nav-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 41px;
    width: 228px;
    color:  rgba(139, 150, 165, 1);
   
}

.nav-profile {
    height: 41px;
    width: 37px;
    background-image: url("profile.png");
    background-size: cover;
}

.nav-message {
    height: 40px;
    width: 52px;
    background-image: url("Message.png");
    background-size: cover; 
}

.nav-orders {
    height: 40px;
    width: 39px;
    background-image: url("Orders.png");
    background-size: contain;
}

.nav-cart {
    height: 41px;
    width: 44px;
    background-image: url("Cart.png");
    background-size: cover;
}

/*navbar2, the sec navbar*/
.navbar2 {
    height: 56px;
    width: 1440px;
    display: flex;
    align-items: center;
    background-color:  rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
}

/*box1*/
.nav-list {
    height: 24px;
    width: 620px;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}

.nav-help {
    border: none;
}

/*box2*/
.nav-pay {
    height: 24px;
    width: 115px;
    margin-left: 300px;
    margin-right: 50px;
}

.nav-pay-select {
    border: none;
}

/*box3*/
.nav-ship {
    height: 24px;
    width: 115px;
    margin-right: 5px;
}

.nav-ship-select {
    height: 24px;
    width: 80px;
    border: none;
}

/*main content of the page*/
main {
     background-color: rgba(199, 194, 194, 0.294);
}

/*footer*/
footer {
    height: 324px;
    width: 1440px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*box1*/
.footer-box1 {
    height: 157px;
    width:  276px;
}

.footer-logo {
    height: 46px;
    width: 150px;
    background-image: url("logo-colored.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-links {
    height: 32px;
    width: 200px;
    background-image: url(footer-links.png);
}
/*box2*/
.footer-box2 {
    height: 137px;
    width:  81px;

}

/*box3*/ 
.footer-box3 {
    height: 137px;
    width:  90px;
}

/*box4*/
.footer-box4 {
    height: 137px;
    width:  108px;
}
/*box5*/
.footer-box5 {
    height: 137px;
    width:  78px;
}

 footer  ul {
    list-style-type: none;
    margin: 0;
     padding: 0;
}

/*box6*/
.footer-box6 {
    height: 129px;
    width:  124px;
}

.footer-app-store {
  height: 42px;
    width: 124px;
    background-image: url("appstore.png");
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-google-play {
    height: 42px;
    width: 124px;
    background-image: url("googleplay.png");
}