/* Reset padding and margin for consistent styling across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header*/

/*navbar1, the navbar at the very top*/
.navbar1 {
    height: 86px;
    width: 1440px;
    background-color: #FFFFFF;
    opacity: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
}

/*box1*/
.nav-logo{
    height: 50px;
    width: 150px;

}

.logo {
    background-image: url("logo-colored.png");
    height: 46px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
/*box2*/
.nav-search {
    height: 40px;
    width: 665px;
   border: 1px solid  rgba(0, 103, 255, 1);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-button {
    height: 40px;
    width: 100px;
    border: 1px solid  rgba(0, 103, 255, 1);
   color: rgba(255, 255, 255, 1);
   background-color:  rgba(0, 103, 255, 1);
   border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
}

.nav-select {
    height: 40px;
    width: 145px;
    border: 1px solid  rgba(0, 103, 255, 1);
  
}

.nav-search-input {
   width: 421px;
  border: 1px solid  rgba(0, 103, 255, 1);
   height:  40px;
   border-top-left-radius: 7px; 
   border-bottom-left-radius: 7px;
}

/*box3*/
.nav-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 41px;
    width: 228px;
    color:  rgba(139, 150, 165, 1);
   
}

.nav-profile {
    height: 41px;
    width: 37px;
    background-image: url("profile.png");
    background-size: cover;
}

.nav-message {
    height: 40px;
    width: 52px;
    background-image: url("Message.png");
    background-size: cover; 
}

.nav-orders {
    height: 40px;
    width: 39px;
    background-image: url("Orders.png");
    background-size: contain;
}

.nav-cart {
    height: 41px;
    width: 44px;
    background-image: url("Cart.png");
    background-size: cover;
}

/*navbar2, the sec navbar*/
.navbar2 {
    height: 56px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list {
    height: 24px;
    width: 620px;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
}

.nav-help {
    border: none;
}

.nav-pay-select {
    border: none;
}

.nav-ship-select {
    height: 24px;
    width: 115px;
    border: none;
}

.nav-ship-logo {
    height: 16px;
    width: 22px;
    background-image: url("ship-logo.png");
    background-size: cover;
}