/* Reset padding and margin for consistent styling across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header*/

/*navbar1, the navbar at the very top*/
.navbar1 {
    height: 86px;
    width: 1440px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
}

/*box1*/
.nav-logo{
    height: 50px;
    width: 150px;
}

.logo {
    background-image: url("logo-colored.png");
    height: 46px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
/*box2*/
.nav-search {
    height: 40px;
    width: 665px;
   border: 1px solid  rgba(0, 103, 255, 1);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-button {
    height: 40px;
    width: 100px;
    border: 1px solid  rgba(0, 103, 255, 1);
   color: rgba(255, 255, 255, 1);
   background-color:  rgba(0, 103, 255, 1);
   border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
}

.nav-select {
    height: 40px;
    width: 145px;
    border: 1px solid rgba(0, 103, 255, 1);
}

.nav-search-input {
   width: 421px;
  border: 1px solid  rgba(0, 103, 255, 1);
   height:  40px;
   border-top-left-radius: 7px; 
   border-bottom-left-radius: 7px;
}

/*box3*/
.nav-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 41px;
    width: 228px;
    color:  rgba(139, 150, 165, 1);
 }

.nav-icon {
    height: 41px;
    width: 60px;
 }

.nav-icon img {
    height: 19px;
    width: 20px;
    margin-left: 8px;
}

.nav-icon a {
    display: inline-block;
    font-size: 13px;
    height: 15px;
    width: 60px;
    text-decoration: none;
   color:  rgba(139, 150, 165, 1);
 }


/*navbar2, the sec navbar*/
.navbar2 {
    height: 56px;
    width: 1440px;
    display: flex;
    align-items: center;
    background-color:  rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
}

/*box1*/
.nav-list {
    height: 24px;
    width: 620px;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}

.nav-help {
    border: none;
}

/*box2*/
.nav-pay {
    height: 24px;
    width: 115px;
    margin-left: 300px;
    margin-right: 50px;
}

.nav-pay-select {
    border: none;
}

/*box3*/
.nav-ship {
    height: 24px;
    width: 115px;
    margin-right: 5px;
    display: flex;
}

.nav-ship-select img {
     height: 15px;
    width: 22px;
    margin-right: 2px;
    margin-left: 5px;
}



/*footer*/
footer {
    height: 324px;
    width: 1440px;
    background-color: rgba(255, 255, 255, 1);
}

/*panel1 of the footer*/
.footer-panel1 {
    height: 256px;
    width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

/*boxes of panel1*/
/*box1*/
.footer-box1 {
    height: 157px;
    width:  276px;
}

.footer-logo {
    height: 46px;
    width: 150px;
    background-image: url("logo-colored.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-links {
    height: 32px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.facebook-logo {
    height: 32px;
    width: 32px;
    background-image: url("facebook-logo.png");
    background-size: cover;
}

.twitter-logo {
    height: 32px;
    width: 32px;
    background-image: url("twitter-logo.png");
    background-size: cover;
}

.linkedin-logo {
    height: 32px;
    width: 32px;
    background-image: url("linkedin-logo.png");
    background-size: cover;
}

.instagram-logo {
    height: 32px;
    width: 32px;
    background-image: url("instagram-logo.png");
    background-size: cover;
}

.youtube-logo {
    height: 32px;
    width: 32px;
    background-image: url("youtube-logo.png");
    background-size: cover;
}

/*box2*/
.footer-box2 {
    height: 137px;
    width:  81px;
}

/*box3*/ 
.footer-box3 {
    height: 137px;
    width:  90px;
}

/*box4*/
.footer-box4 {
    height: 137px;
    width:  108px;
}
/*box5*/
.footer-box5 {
    height: 137px;
    width:  78px;
}

 footer  ul {
    list-style-type: none;
    margin: 0;
     padding: 0;
}

/*box6*/
.footer-box6 {
    height: 129px;
    width:  124px;
}

.footer-app-store {
  height: 42px;
    width: 124px;
    background-image: url("appstore.png");
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-google-play {
    height: 42px;
    width: 124px;
    background-image: url("googleplay.png");
}

/* panel2 of the footer*/
.footer-panel2 {
    height: 68px;
    width: 1440px;
    background-color: rgba(199, 194, 194, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-panel2-content {
    height: 24px;
    width: 1176px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer-panel2-content p {
    height: 24px;
    width: 320px;
}

.footer-panel2-content select {
    height: 24px;
    width: 101px;
    border: none;
    background-color: rgba(199, 194, 194, 0.1);
}

 /*main content of the main-body or of the main page*/
.main-body main{
    background-color: rgba(11, 152, 180, 0.055);
    height: 3400px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* box1 of main */
.section-box1 {
    height: 450px;
    width: 1440px;
    display: flex;
    justify-content:  center;
    align-items: center;
   
} 

.main-box1 {
    height: 400px;
    width: 1180px; 
    border: 1px solid rgba(168, 169, 169, 0.983);
     background-color: rgba(255, 255, 255, 1);
     display: flex;
     border-radius: 5px;
}

/*menu bar of box1 */
.menu-bar {
    height: 360px;
    width: 250px;
    margin: 15px 5px 15px 5px;
}

.menu-bar a {
    text-decoration: none;
    color: rgb(21, 22, 23);
}

.menu-bar-box1   {
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.menu-bar-box2  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box3  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box4  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box5  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box6  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box7  {
    height: 40px;
    width: 250p;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box8  {
    height: 40px;
    width: 250p;
     display: flex;
    align-items: center;
    margin-left: 15px;
}
.menu-bar-box9  {
    height: 40px;
    width: 250p;
     display: flex;
    align-items: center;
  margin-left: 15px;   
}

/* quote box of mainbox1*/
.quote-box {
    height: 95px;
    width: 200px;
    background-color: rgba(85, 189, 195, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15px 5px 15px;
}

.quote-text {
    height: 57px;
    width: 140px;
}
/*offer box of mainbox1*/
.offer-box {
    height: 95px;
    width: 200px;
    background-color: rgba(243, 131, 50, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15px 5px 15px;
}

.offer-text {
    height: 57px;
    width: 140px;
}
/* third box of mainbox1*/
.user-login {
    height: 150px;
    width: 200px;
    background-color: rgba(227, 240, 255, 1);
    border-radius: 6px; 
    margin: 5px 15px 5px 15px;
}

.user-login-text {
   height: 70px;
   width: 190px;
   margin: 2px 2px 2px 2px;
   display: flex;
   align-items: center;
    justify-content: center;
}

#avatar-logo {
    height: 44px;
    width: 44px;
}

.user-login-text p {
    margin-left: 12px;
}
.user-login-buttons {
    width: 190px;
    height: 70px;
    margin: 2px 2px 2px 2px;
}

#join-now-btn {
    height: 30px;
    width: 180px;
    border-radius: 6px;
    margin: 2px 3px 2px 5px;
    background-color: rgba(18, 127, 255, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

#login-btn {
    height: 30px;
    width: 180px;
    border-radius: 6px;
    margin: 2px 3px 2px 5px;
    border: none;
     background-color: rgba(255, 255, 255, 1);
     color: rgba(18, 127, 255, 1);
     font-weight: 600;
}

.side-box {
    height: 360px;
    width: 230px;
  margin-top: 15px;
}

/*banner board of mainbox1*/
.banner-board {
    height: 350px;
    width: 650px;
    margin-top: 18px;
    background-image: url(Banner-board.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-text {
    height: 73px;
    width: 253px;
     font-size: 29px;
     margin-top: 10px;
}

.banner-board button {
    height: 40px;
    width: 119px;
    border-radius: 6px;
    color: black;
    border: none;
    margin-left: 3px;
}

/*box2 of main*/
.section-box2 {
    height: 240px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals {
    height: 240px;
    width: 1180px;
    display: flex;
    border-radius: 5px; 
    border: 1px solid rgba(168, 169, 169, 0.983);
    background-color: rgba(255, 255, 255, 1);  
}

.deals-offers {
    height: 240px;
    width: 300px ;
}

.countdown {
    height: 113px;
    width: 198px;
    margin-top:  20px;
    margin-left:  20px;
    background-color: rgba(255, 255, 255, 1);
}

.countdown p {
    height: 19px;
    width: 155px;
    color: rgba(139, 150, 165, 1);
}

.time {
    height: 50px;
    width: 198px;
     margin-top: 20px;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deal-items {
    height: 240px;
    width: 895px;
    display: flex;
}

.item-box {
    height: 240px;
    width: 179px;
     border-right: 1px solid rgba(168, 169, 169, 0.983);
     border-left: 1px solid rgba(168, 169, 169, 0.983);
 }

.item-img {
    height: 140px;
    width: 140px;
    margin-left: 19px;
    margin-top: 10px;
}

.item-content {
    height: 59px;
    width: 112px;
     margin: 10px 25px 2px 30px;
}

.item-content p {
    height: 24px;
    width: 112px;
 }

.offer {
    height: 28px;
    width: 61px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(235, 0, 27, 1);
    background-color: rgba(255, 227, 227, 1);
    margin-top: 2px;
    margin-left: 22px;
}
.box {
    height: 50px;
    width: 45px;
    background-color: rgba(96, 96, 96, 1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
}

.box-content {
    height: 50px;
    width: 45px;
     
}
.box b {
    display: inline-block;
    height: 19px;
    width: 22px;
    margin: 7px 15px 0px 10px;
}
.box p {
    display: inline-block;
    height: 15px;
    width: 25px;
    margin: 0px 2px 0px 7px;
    color: white;
}

/*box3 of main*/
.section-box3 {
    height: 257px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

.items-group {
    height: 257px;
    width: 1180px;
    border-bottom : 1px solid rgba(168, 169, 169, 0.983);
    border-top : 1px solid rgba(168, 169, 169, 0.983);
    border-radius: 5px;
    display: flex;
 }

.left-box1 {
    height: 257px;
    width: 280px;
    background-image: url("leftbox-img.png");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.left-box1 p {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 10px 10px 15px;
}

.left-box1 button {
    height: 40px;
    width: 123px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 10px 10px 15px;
}

.right-box {
    height: 257px;
    width: 900px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.right-container {
    height: 127px;
    width: 223px;
    border-right: 1px solid rgba(168, 169, 169, 0.983); 
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);   
 }

.right-container img {
    height: 82px;
    width: 82px;
    margin: -29px 2px 0px 139px;
}

.line-1 {
    height: 20px;
    width: 90px;
    margin: 15px 10px 2px 15px;
}

.line-2 {
    height: 20px;
    width: 120px;
    color: rgba(139, 150, 165, 1);
    margin: 15px 10px 2px 15px;
}

/*box4 of main*/
.section-box4 {
    height: 257px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

 .left-box2 {
    height: 257px;
    width: 280px;
    background-image: url("img.png");
}

.left-box2 p {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 10px 10px 15px;
}

.left-box2 button {
    height: 40px;
    width: 123px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 10px 10px 15px;
}

/*box5 of main*/
.section-box5 {
    height: 420px;
    width: 1440px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry {
    height: 420px;
    width: 1180px;
    background-image: url("inquiry-bg.png");
    display: flex;
    align-items: center;
   justify-content: space-around;
   border-radius: 5px;
}

.inquiry-box1 {
    height: 139px;
    width: 440px;
     color: rgba(255, 255, 255, 1); 
     margin-top: 50px;
     margin-left: 45px;
}

.inquiry-box1 h3 {
     font-weight: 700;
     font-size: 25px;
    height: 78px;
    width: 440px;
  margin: 1px 1px 1px 1px;
  display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inquiry-box1 p {
    height: 48px;
    width: 390px;
}

.inquiry-box2 {    
    height: 346px;
    width: 491px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
  }

 .inquiry-box2  h3 {
    height: 28px;
    width: 332px;
     margin: 20px 15px 15px 20px;
 }

 #item-name {
    height: 40px;
    width: 440px;
     border: 1px solid black;
    color: black;
    border-radius: 5px;
    margin: 5px 15px 15px 20px;
 }

 #detail {
    height: 73px;
    width: 440px;
     border: none;
    border-radius: 5px;
    margin: 5px 15px 15px 20px;
    border: 1px solid black;
 }

 #quality {
    height: 40px;
    width: 206px;
    border: none;
    border-radius: 5px;
     margin: 5px 5px 15px 20px;
     border: 1px solid black;
 }

 .inquiry-box2  select {
    height: 40px;
    width: 111px;
    border-radius: 5px;
    margin: 5px 15px 5px 10px;
    border: 1px solid black;
 }

 .inquiry-box2 button {
    height: 40px;
    width: 128px;
    border-radius: 5px;
    background-color: rgba(18, 127, 255, 1);
    color: white;
     border: none;
     margin: 5px 15px 1px 20px;
 }

 /*box6 of main*/
.section-box6 {
    height: 696px;
    width: 1440px;
     display: flex;
    justify-content: center;
    align-items: center; 
}

.recommended-items {
    height: 696px;
    width: 1180px;
    font-size: 20px;
 }

.recommended-items h3 {
    height: 32px;
    width: 242px;
 }

.items-box {
    height: 640px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
    margin-top: 15px;
}

.item {
    height: 310px;
    width: 220px;
    background-color: rgba(255, 255, 255, 1);
 border-radius: 5px;
}

.item-logo {
    height: 201.4px;
    width: 210px;
    margin-left: 5px;
 }

.item-text {
    height: 100px;
    width: 210px;
     margin-left: 5px;
}

.p1 {
    height: 21px;
    width: 65px;
    margin: 10px 10px 5px 5px;
 }

.p2 {
    height: 53px;
    width: 186px;
    margin: 10px 10px 5px 5px;
    color: rgba(139, 150, 165, 1);
 }

/*box7 of main*/
.section-box7 {
    height: 256px;
    width: 1440px;
      display: flex;
    justify-content: center;
    align-items: center;
}

.extra-services {
     height: 256px;
    width: 1180px;
}

.extra-services h3 {
    height:32px;
    width: 210px;
 }

.extra-services-box {
    height: 200px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
 }

.ser-box {
    height: 200px;
    width: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-right-radius: 3%;
   border-top-left-radius: 3%;
   background-color: rgb(57, 50, 50);
 }

.bg1 {
    height: 120px;
    width: 280px;
}

.content1 {
    height: 80px;
    width: 280px;
    background-color: rgba(255, 255, 255, 1);
   display: flex; 
   align-items: center;
   justify-content: center;
   border-bottom-left-radius: 3%;
   border-bottom-right-radius: 3%;

}

.content1 p{
    height: 44px;
    width: 215px;
    font-size: 19px;
    margin-right: 50px;
}

/*box8 of main*/
.section-box8 {
    height: 190px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppliers {
    height: 138px;
    width: 1177px;  
}

.suppliers h3 {
    height:32px;
    width: 221px;
}

.suppliers-country {
    height: auto; 
    width: 1177px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  
}

/* suppliers country box*/
.country-box {
    height: 36px;
    width: 20%; 
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
}

.country-logo {
    height: 34px;
    width:  28px;
    margin-right: 10px;
}

#country-shop {
   font-size: small;
  color: rgba(139, 150, 165, 1);
}

/*box9 of main*/
.section-box9 {
    height: 190px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 194, 194, 0.1);
}

.newsletter-box {
    height:  113px;
    width:  617px;
}

.newsletter-box h3 {
    height: 28px;
    width:  616px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-box p {
    height: 24px;
    width:  616px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.newsletter-box form {
    height: 40px;
    width:  392px;
    display: flex;
   align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 100px;
}

.newsletter-box form button {
    height: 40px;
    width:  100px;
    border: none;
    background-color: rgba(0, 103, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.newsletter-box form input {
    height: 40px;
    width:  274px;
    border: 1px solid rgba(0, 103, 255, 1);
    border-radius: 10px;
    padding-left: 10px;
}

/*main content of the listview-body or of the listview page*/
.listview-body main{
    background-color: rgba(11, 152, 180, 0.055);
    height: 1850px;
    width: 1440px;
}

/* web list-view page style here */
/* box 1 */
.listview-box1 {
    height: 64px;
    width: 1440px;
    display: flex;
    align-items: center;
}

.breadcrumb {
    height: 24px;
    width: 411px;
    color: rgba(139, 150, 165, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 105px;
 }

.breadcrumb a {
    text-decoration: none;
    color: rgba(139, 150, 165, 1);
}
.breadcrumb img {
    height: 20px;
    width: 20px;
}
/*box 2*/
.listview-box2 {
    height: 63px;
    width: 921px;
    margin-left: 400px;
    position:  absolute;
    display: inline-block;  
 }

.content-top {
    height: 62px;
    width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    border-radius: 5px;
    border: 1px solid rgba(61, 65, 65, 0.235);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
 }
.content-top p {
    height: 19px;
    width: 251px;
 }

.verified-label {
    height: 36px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 140px;
 }

 .selection-box select {
    border: 1px solid rgba(217, 217, 203, 0.803);
     border-radius: 5px;
    height: 40px;
    width: 170px;
  }

 .btn-group {
    height: 40px;
    width: 76px;
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(61, 65, 65, 0.235);
  }

.btn1 {
    height: 40px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(180, 168, 168, 0.584);
 }

 .btn2 {
    height: 40px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*box3 of listview */
.listview-box3 {
    height: 1430px;
    width: 921px;
    margin-top: 100px;
   margin-left: 400px;
}
 
.content {
    height: 1429px;
    width: 920px;
     display: flex;
    flex-wrap: wrap;
}

.product-card {
    height: 230px;
    width: 920px;
   display: flex;
   background-color: rgba(255, 255, 255, 1);
    border: 0.9px solid rgba(61, 65, 65, 0.235);
    border-radius: 7px;
}
  
.product-image {
    width: 210px;
    height: 210px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 7px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
  }
  
.product-title {
    font-size: 16px;
    margin: 0;
    color: #111;
    font-weight: 600;
  }
  
.favorite-btn {
    background: transparent;
    border: 1px solid rgba(61, 65, 65, 0.235);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
    margin-right: 10px;
  }
  
.product-pricing {
    margin: 10px 0;
  }
  
.current-price {
   font-size: 19px;
    font-weight: bold;
    color: #111;
    margin-right: 10px;
  }
  
.old-price {
    text-decoration: line-through;
    color: #888;
  }
  
.product-meta {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
.stars {
    color: #ffa500;
    margin-right: 5px;
  }
  
.score {
    color: #f68b1e;
    margin-right: 10px;
  }
  
.orders {
    color: #666;
    margin-right: 10px;
  }
  
.shipping .green {
    color: green;
  }
  
.product-description {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}
  
.details-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}


/*box4 of listview*/

 .listview-box4 {
    height: 1448px;
    width: 100px;
    margin-left: 110px;
    position: absolute;
    top: 208px;
     flex-wrap: wrap;
    display: flex;
}

.category {
    height: 241px;
    width: 236px;
    border-top: 2px solid rgba(61, 65, 65, 0.235);
}

 .category  h3 {
    height: 48px;
    width: 230px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .fa-light fas fa-chevron-down {
    font-family: "Font Awesome 6 Free"; 
    font-weight: 200; 
}

 .category i {
    margin-left: 120px;
   height: 24px;
    width: 24px;
    color: rgba(80, 80, 80, 1);
 }

.category a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    width: 230px;
    margin-left: 2px;
}

.category p {
  color: rgba(80, 80, 80, 1);
    height: 36px;
    width: 230px;
    margin-left: 2px;
}

 /*brands of the side-bar*/

.brands {
    height: 266px;
    width: 236px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid rgba(61, 65, 65, 0.235);
}

 .brands  h3 {
    height: 48px;
    width: 230px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .fa-light fas fa-chevron-down {
    font-family: "Font Awesome 6 Free"; 
    font-weight: 200; 
}

 .brands i {
    margin-left: 120px;
   height: 24px;
    width: 24px;
    color: rgba(80, 80, 80, 1);
 }

.brands a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    width: 230px;
    margin-left: 2px;
}

.brands label {
  color: rgba(80, 80, 80, 1);
    height: 36px;
    width: 230px;
    margin-left: 2px;
}

/*price filter box here*/
.price-filter {
      width: 230px;
    height: 230px;
     border-top:  2px solid rgba(61, 65, 65, 0.235);
}
  
.price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 5px;
  }
  
.price h3 {
    height: 48px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    position: relative;
    height: 40px;
    margin-bottom: 12px;
  }
  
.range {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #ddd;
    position: absolute;
    top: 18px;
    pointer-events: none;
}
  
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #007bff;
    pointer-events: all;
    position: relative;
    z-index: 2;
}
  
.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 12px;
}
  
.input-container label {
    display: block;
    font-size: 12px;
    color: #555;
    margin-bottom: 4px;
}
  
.input-container input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(139, 150, 165, 1);
}
  
.apply-btn {
    height: 40px;
    width: 228px;
    margin-top: 5px;
     border: 1px solid rgba(139, 150, 165, 1);
    background: rgba(255, 255, 255, 1);
    color: rgba(13, 110, 253, 1);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.condition {
    height: 231px;
    width: 230px;
    border-top: 2px solid rgba(61, 65, 65, 0.235);
}

.condition h3 {
    height: 48px;
    width: 230px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.condition i {
    margin-left: 115px;
}
.label {
    height: 144px;
    width: 142px;
    display: flex;
    flex-wrap: wrap;
}

.ratings {
    height: 241px;
    width: 230px;
    border-top: 2px solid rgba(61, 65, 65, 0.235);
}

.ratings h3 {
    height: 48px;
    width: 230px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

/* box5 of listview page*/
.listview-box5 {
    height: 60px;
    width: 347px;    
    margin-bottom: 20px;
    margin-left: 950px;
}

.selectbox {
height: 60px;
width: 347px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 }

.selectbox1 {
    height: 40px;
    width: 125px;    
    border-radius: 5px; 
    border: 1px solid rgba(61, 65, 65, 0.235);
}

.selectbox2 {
    height: 40px;
    width: 205px;
    display: flex;
    flex-wrap: wrap;
 justify-content: space-between;
 border-radius: 5px; 
 border-bottom: 2px solid rgba(61, 65, 65, 0.235);
 border-top: 2px solid rgba(61, 65, 65, 0.235);
 border-right: 2px solid rgba(61, 65, 65, 0.235);
}

.minibox {
    height: 36px;
    width: 40px;
    padding: 11px 10px 0px 14px;
    border-left: 2px solid rgba(61, 65, 65, 0.235);
    border-radius: 2px;
   background-color: rgb(253, 253, 253);
 }

 /*grid-view page style here*/
 .gridview-body main {
    background-color: rgba(11, 152, 180, 0.055);
    width: 1440px;
 }

 /* grid-view page box1 , filter container box here*/

 .filters-container {
    height: 32px;
    width: 728px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
    margin-left: 410px;
    margin-top: 70px;
}

.filter-tag {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #007bff;
  color: #333;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: default;
}

.filter-tag .remove-btn {
  margin-left: 8px;
  background: none;
  border: none;
  color: #999;
  font-weight: bold;
  cursor: pointer;
}

.filter-tag .remove-btn:hover {
  color: #000;
}

.clear-filters {
  color: #007bff;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.clear-filters:hover {
  text-decoration: underline;
}

/* grid-view page , product grid here*/
.grid-container {
    height: 1360px;
    width: 920px;
    margin-left: 402px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 405px 405px 405px;
    grid-template-columns: 295px 295px 295px;
    gap: 15px;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
      background-color: rgba(255, 255, 255, 1);
 }

.grid-img {
    height: 250px;
    width: 295px;   
     padding: 7px 20px 0px 30px;
    border-bottom: 1px solid #ccc;
}

.grid-img img {
    height: 230px;
    width: 230px;
}

.grid-detail {
    padding: 20px;
}

.grid-pricing {
    height: 23px;
    width: 295px;
    margin: 6px 0px 6px 0px;
}

.grid-current-price {
    font-size: 19px;
    font-weight: bold;
    color: #111;
    margin-right: 10px;
}

.grid-old-price {
    text-decoration: line-through;
    color: #888;
}

.grid-favorite-btn {
    background: transparent;
    border: 1px solid rgba(61, 65, 65, 0.235);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
    margin-left: 80px;
}

.grid-rating {
    height: 19px;
    width: 108px;
    margin: 6px 0px 6px 0px;

}

.grid-stars {
    color: #ffa500;
    margin-right: 5px;
}

.grid-score {
    color: #f68b1e;
 }

 .grid-heading {
    height: 48px;
   width: 215px;
   margin: 6px 0px 3px 0px;
 }

 

/* desc-pro-section's style here */
.desc-pro-section {
    height: 618px;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.desc-pro-box {
    height: 618px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
/* description box style  */
.description-box {
    height: 618px;
    width: 880px;
    border: 1px solid rgba(168, 169, 169, 0.983);
    border-radius: 5px;
 } 

.desc-title {
    height: 48px;
    width: 880px;
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
    display: flex;
    align-items: center;
 }

.desc-title a {
    color: rgba(139, 150, 165, 1);
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 10px;
}

.desc-description {
    color: rgba(80, 80, 80, 1);
    height: 168px;
    width: 880px;
    padding: 20px 20px 0px 20px;
}

.desc-features {
    height: 126px;
    width: 325px;
    padding: 20px 20px 0px 10px;
}

.desc-features p {
    height: 24px;
    width: 325px;
    color: rgba(80, 80, 80, 1);
    margin: 5px 0px 0px 0px;
}

/* description table here */
.desc-table {
    height: 180px;
    width: 567px;
    border-bottom: 1px solid rgba(168, 169, 169, 0.983);
       border-left: 1px solid rgba(168, 169, 169, 0.983);
       margin: 10px 0px 5px 20px;
}

th, td {
   padding: 12px;
  text-align: left;
   border-top: 1px solid rgba(168, 169, 169, 0.983);
   border-right: 1px solid rgba(168, 169, 169, 0.983);
  color: rgba(80, 80, 80, 1);
}
 
th {
    background-color:rgb(197, 199, 201);
}

td {
    background-color: white;
}

/* "u may like" section's style here */
 
.umaylike-box {
    height: 553px;
    width: 277px;
    border: 1px solid rgba(168, 169, 169, 0.983);
   border-radius: 5px;
 }

.umaylike-heading {
    height: 19px;
    width: 97px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 13px;
}

.umaylike-items {
    height: 523px;
    width: 242px;
    margin-right: 10px;
  margin-left: 15px;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.umaylike-item {
    height: 80px;
    width: 242px;
    display: flex;
    justify-content: space-around;
     background-color: white;
}

.umaylike-item img {
    height: 80px;
    width: 80px;
    border: 1px solid rgba(168, 169, 169, 0.983);
    border-radius: 5px;
 }

.umaylike-desc {
    padding:2px 0px 0px 5px;
}

.umaylike-title {
    height: 49px;
    width: 151px;
    color: rgba(28, 28, 28, 1);
}

.umaylike-price {
    height: 24px;
    width: 109px;
    color: rgba(139, 150, 165, 1);
}

/* the related product section's style here */
.related-product-section {
    height: 350px;
    width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
 }

.related-product {
    height: 350px;
    width: 1180px;
    border: 1px solid rgba(168, 169, 169, 0.983);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
 }

.related-product-heading {
    height: 28px;
    width: 165px;
    font-size: large;
    font-weight: 500;
    padding: 2px 2px 2px 12px;
    margin: 20px 0px 10px 5px;
 }

.related-product-list {
    height: 254px;
    width: 1170px;
    margin: 15px 0px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.related-product-item {
    height: 254px;
    width: 172px;
     border-radius: 5px;
     background-color: rgba(238, 238, 238, 1);
 }

.related-product-item img {
    height: 172px;
    width: 172px;
 }

.item-description {
    height: 66px;
    width: 142px;
    padding: 5px 0px 2px 5px;
}

.item-heading {
    color: rgba(80, 80, 80, 1);
}

.item-price {
    color: rgba(139, 150, 165, 1);
}

/* banner's styling here  */
.discount-banner {
    width: 1440px;
    height: 120px;
    display: flex;
    justify-content: center;
 }

.banner {
    height: 120px;
    width: 1180px;
    color: white;
    display: flex;
 }

.banner-left {
    height: 120px;
    width: 745px;
    background-color: rgba(35, 124, 255, 1);
    padding: 25px 0px 0px 20px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px; 
}

.banner-p1 {
    height: 35px;
    width: 455px;
     font-size: large;
    font-weight: 600;
}

.banner-p2 {
    height: 19px;
    width: 324px;
}

.banner-right {
    height: 120px;
    width: 435px;
     background-color: rgba(0, 90, 222, 1);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px; 
 }

.banner-right button {
    height: 40px;
    width: 108px;
    background-color: rgba(255, 144, 23, 1);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 270px;
    margin-top: 40px;
}


